<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>© Copyright Healthy Interiors 2012
All rights reserved 
</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Contains material protected under International and Federal copyright laws and treaties. Any unauthorised print or use of this material is prohibited. No part of this App may be reproduced or transmitted in any form or by any means electronically or mechanically, including photography, recording or by any information storage and retrieval system without express written permission from the author/owner.</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
