pixate-config {
    update-styles: auto;
    cache-styles: auto;
    parse-error-destination: console;
}

.view, table-view {
    background-image: url(bundle://Ravennabg.png);
}

navigation-bar {
    font-size: 20;
    color: white;
    background-image: url(bundle://NavBar2.png);
}

search-bar {
    background-image: url(bundle://NavBar2.png);
}